
.formCard{

    border-radius: 10px;
}
.movieCard{

    border-radius: 10px;
    
}

.movieCard figure{

    border-radius: 15px;
}


.movieCard h4{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    height: 40px;
}

.movieCard figure{

   overflow: hidden;
   height: 250px;
   width: 100%;
   position: relative;

}

.movieCard img {

    width: 100%;
    height: 100%;
    object-fit:cover;
}

.movieCard figcaption{

    position: absolute;
    top: 30%;
    left: 0;
    height: 70%;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    background-color: rgba(255,255,255,.5);
    transform: translateY(100%);
    transition: all .4s ease-in-out;
}

.movieCard:hover figcaption{

    transform: translateY(0%);
}


